.card-product-conteiner {
  margin: 5vh auto;
}
.card-product {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5vh auto;
  font-size: 25px;
}
.card img {
  height: 200px;
}
.button_1 {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button_1:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

#carr {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*ESTILO DE LOS PRODUCTOS*/
.card-products-container {
  margin: 5 vh auto;
}
.card-products {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative; /* Agrega esta línea */
}

.card-products img {
  margin-top: 40px;
  width: 250px;
  height: 250px;
}

.card-products .boton-comprar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/*ESTILOS DE LA X*/
.bi-x {
  color: red; /* Cambia el color del icono */
  font-size: 40px; /* Cambia el tamaño del icono */
  font-weight: bold; /* Cambia el grosor del icono */
  cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima del icono */
}

.bi-x:active {
  transform: scale(
    0.9
  ); /* Reduce el tamaño del icono en un 10% cuando se presiona */
}

/*-----ESTILOS DE LOS NUMERO DEL CARRITO ------*/

.cart-counter {
  display: none;
  position: fixed;
  top: 90vh; /* Ajusta este valor para mover el contador del carrito hacia abajo */
  right: 10px;
  color: #fff;
  text-align: center;
  background-color: #ed3434;
  padding: 4px;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  font-size: 15px;
}

/*-----Modal------*/
.modal-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modal-container {
  display: none;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgb(20, 20, 20);
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  overflow-y: auto;
  z-index: 2;
  width: 40%; /* Añade esta línea */
  height: 40%; /* Añade esta línea */
  display: absolute; /* Añade esta línea */
  flex-direction: column; /* Añade esta línea */
  justify-content: center; /* Añade esta línea */
  align-items: center; /* Añade esta línea */
}

.modal-close {
  float: right;
  cursor: pointer;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* ESTILOS PARA CENTRAR LA PALABRA CARRITO Y PONER LA X A LA DERECHA */

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal-header .bi-x {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.modal-header h2 {
  text-align: center;
}

/*----Modal body-----*/
.modal-body {
  margin-bottom: 20px;
  text-align: center;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.product-img {
  height: 80px;
  margin-right: 20px;
  width: 80px;
}

.product-info {
  flex: 1;
  text-align: left;
}

.product-img h4 {
  margin-top: 35px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center; /* Añade esta línea */
  margin-top: 10px;
  margin-right: 4em; /* Ajusta este valor */
  gap: 1px; /* Añade un espacio de 10px entre los botones */
}

.quantity-btn-decrese,
.quantity-btn-increse {
  color: rgb(52, 52, 52);
  cursor: pointer;
  font-size: 16px;
  width: 28px;
  font-weight: bold;
  display: inline-block; /* Añade esta línea */
}

.quantity-input {
  color: rgb(52, 52, 52);
  font-size: 16px;
  padding: 10 10px;
  text-align: center;
 
  font-weight: bold;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 16px;
  text-transform: uppercase;
  transition: background-color 0.3 ease ease;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

@media only screen and (max-width: 500px) {
  .product-img {
    display: none;
  }
  .modal-body {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.delete-product {
  margin-top: 20px;
  margin-left: 2em;
  cursor: pointer;
}
.modal-footer {
  text-align: center;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* ESTILOS DEL BOTON DE PAGAR */
.btn-primary {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 20px; /* Ajusta este valor para mover el botón hacia abajo */
}

.btn-primary:hover {
  background-color: #00b1ea;
  box-shadow: 0px 15px 20px #036b8d;
  color: #fff;
  transform: translateY(-7px);
}

.modal-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* + y - */
/* ESTILOS DEL MENOS Y MAS */
.master-container {
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  justify-content: center;
  margin-top: 20px; /* Ajusta este valor para mover el botón hacia abajo */ 
  margin-right: 23cv0px;
}


.cart {
  border-radius: 19px 19px 7px 7px;
  justify-content: center;
}

.cart .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
}

.cart .products .product {
  display: grid;
  grid-template-columns: 60px 1fr 80px 1fr;
  gap: 10px;
  justify-content: center;
}

.cart .products .product span {
  font-size: 13px;
  font-weight: 600;
  color: #47484b;
  margin-bottom: 8px;
  display: block;
  justify-content: center;
}

.cart .products .product p {
  font-size: 11px;
  font-weight: 600;
  color: #7a7c81;
  justify-content: center;
}

.cart .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
}

.cart .quantity label {
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 700;
  color: #47484b;
}

.cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}

.card .small {
  font-size: 15px;
  margin: 0 0 auto auto;
}

.card .small sup {
  font-size: px;
}

.menos-menos{
  color: #000;
  font-size: 20px;
}
.more-mas{
  color: #000;
  font-size: 20px;
}